<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculateur béton armé</title>
  </head>
  <body>
    <h1>Calculateur acier - béton armé</h1>

    {% if error %}
      <p style="color:red">{{ error }}</p>
    {% endif %}

    <form method="POST">
      <label>Section d'armature requise As (cm²) :</label><br>
      <input type="text" name="as_cm2" placeholder="ex: 10.05" required>
      <br><br>

      <label>Largeur de la section b (mm) :</label><br>
      <input type="text" name="b_mm" placeholder="ex: 300" required>
      <br><br>

      <label>Enrobage e (mm) :</label><br>
      <input type="text" name="e_mm" placeholder="ex: 5" required>
      <br><br>

      <button type="submit">Calculer</button>
    </form>
  </body>
</html>


<!-- <!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculateur béton armé</title>
  </head>
  <body>
    <h1>Calculateur acier - béton armé</h1>
    {% if error %}
      <p style="color:red">{{ error }}</p>
    {% endif %}
    <form method="POST">
      <label>Section d'armature requise As (cm²):</label><br>
      <input type="text" name="as_cm2" placeholder="ex: 10.05" required>
      <button type="submit">Calculer</button>
    </form>
  </body>
</html>
 -->